<header>
    <div class="nav"> 
        <div  onclick=""    class="logo">
            <span><a href="/web/news/">Doth News</a></span>
        </div>
        <ul>
            <li><a href="#" onclick="">####</a></li>
            <li><a href="#" onclick="">####</a></li>
            <li><a href="/web/news/" onclick="">latests news</a></li>
        </ul>
    </div>
</header>